In [5]:
library(tidyverse)
library(tidymodels)
library(readr)
library(utils)

Warning message:
“package ‘ggplot2’ was built under R version 4.3.2”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.4
✔ ggplot2   3.5.0     ✔ stringr   1.5.0
✔ lubridate 1.9.2     ✔ tibble    3.2.1
✔ purrr     1.0.2     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/

In [13]:
# Read the data we need from web into R. 



# Read the dataset: The dataset I choose is "Cleveland" dataset.

heart_disease_data <- read_csv("data/heart_disease/processed.cleveland.data",
                               c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))

heart_disease_data[ heart_disease_data == "?" ] <- NA

#Select needed variables; this step is used for cleaning and wrangling the data into tidy format.
heart_disease_data <- heart_disease_data |>
  mutate(presc = ifelse(is.na(num), NA, (num > 0))) |>
  mutate(region = as.factor("Cleveland"),
        sex = as.factor(sex),
         cp = as.factor(cp)) |>
  select(age, cp, region, num, presc)

#Display the first few rows as a table.
head(heart_disease_data)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): ca, thal
dbl (12): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age cp region    num presc
1 63  1  Cleveland 0   FALSE
2 67  4  Cleveland 2    TRUE
3 67  4  Cleveland 1    TRUE
4 37  3  Cleveland 0   FALSE
5 41  2  Cleveland 0   FALSE
6 56  2  Cleveland 0   FALSE

In [7]:
#Create training and testing sets
set.seed(1234)
heart_disease_split <- initial_split(heart_disease_data, prop = 0.75, strata = region)
heart_disease_train <- training(heart_disease_split)
heart_disease_test <- testing(heart_disease_split)

#Display both training and testing sets
head(heart_disease_train)
head(heart_disease_test)

  age cp region    num
1 67  4  Cleveland 1
2 37  3  Cleveland 0
3 56  2  Cleveland 0
4 62  4  Cleveland 3
5 57  4  Cleveland 0
6 63  4  Cleveland 2

  age cp region    num
1 63  1  Cleveland 0
2 67  4  Cleveland 2
3 41  2  Cleveland 0
4 52  3  Cleveland 0
5 57  3  Cleveland 0
6 58  2  Cleveland 1

In [ ]:
# Now, we can put test set aside, and use only training set to create scatter plot in order to show the relationship between "Age" and "Chest Pain"